@use '../../styles/utils';

.app {
	display: grid;
	height: 100vh;
}

.wrapper {
	@include utils.max-width;
	display: block;
	margin-top: 4vh; // make this a common variable... --progress-height

	@media screen and (min-width: 1024px) {
		display: grid;
		grid-template-columns: 1fr 2fr;
		gap: var(--space-lg);
	}
}

.leftSide {
	--flow-space: var(--space-md);

	display: grid;
	place-content: center;
	text-align: left;
	container-type: inline-size;
	color: var(--theme-color-body-text);

	@media screen and (max-width: 1023px) {
		margin-top: var(--space-2xl);
		text-align: center;
	}

	* + * {
		margin-top: var(--flow-space);
	}

	header {
		@media screen and (min-width: 1024px) {
			margin-top: -80px;
		}
	}

	h1,
	h2 {
		@include utils.fluid-type;

		@media screen and (max-width: 1023px) {
			margin-left: auto;
			margin-right: auto;
		}
	}

	h1 {
		--font-size-min: var(--text-3xl);
		--font-size-fluid: 14cqi;
		--font-size-max: var(--text-8xl);

		line-height: 1.2;

		span {
			font-family: var(--font-family-display);
			display: inline-block;
			transform: skewY(-6deg);
			letter-spacing: 1.5px;
			background-image: linear-gradient(45deg, var(--theme-color-gradient-left), var(--theme-color-gradient-right));
			color: transparent;
			-webkit-background-clip: text;
			background-clip: text;
			padding-right: var(--space-base);

			text-shadow: 3px 3px 0px var(--theme-color-body-text);
		}

		@media screen and (max-width: 1023px) {
			max-width: 18ch;
		}

		@media screen and (min-width: 768px) {
			--font-size-fluid: 8cqi;
		}

		@media screen and (min-width: 1024px) {
			--font-size-fluid: 16cqi;
		}
	}

	h2 {
		--font-size-min: var(--text-lg);
		--font-size-fluid: 4vw;
		--font-size-max: var(--text-xl);

		line-height: 1.3;
		text-wrap: balance;

		@media screen and (max-width: 1023px) {
			max-width: 30ch;
		}

		@media screen and (min-width: 1024px) {
			--font-size-fluid: 7cqi;
		}
	}
}

.rightSide {
	display: grid;
	align-content: center;
	margin-top: var(--space-2xl);
	margin-bottom: var(--space-base);

	@media screen and (min-width: 1024px) {
		margin: var(--space-3xl) 0 calc(var(--space-3xl) * 2);
	}
}

// ===============================
// Accessibility Controls
// ===============================

.controls {
	font-size: var(--text-md);
	display: grid;
	grid-template-columns: auto auto;
	align-items: center;
	justify-content: center;
	gap: var(--space-base);
	margin-bottom: var(--space-base);

	@media screen and (max-width: 499px) {
		font-size: var(--text-base);
		justify-content: space-between;
	}
}

.iconSelect {
	--select-label-color-text: var(--theme-color-body-text);
	--select-divider: var(--theme-color-accent-soft);

	display: flex;
	align-items: center;
	color: var(--select-label-color-text);
	padding-left: var(--space-base);
	position: relative;

	&::after {
		content: '\25BC';
		position: absolute;
		right: var(--space-xs);
		transform: translateY(1px);
		pointer-events: none;
		font-size: 0.5em;
	}

	@media screen and (min-width: 500px) {
		border-left: solid 2px var(--select-divider);
	}

	label {
		padding-right: var(--space-xs);
	}

	select {
		-webkit-appearance: none;
		appearance: none;
		color: inherit;
		background-color: transparent;
		border: none;
		padding: var(--space-xs) var(--space-base) var(--space-xs) var(--space-xs);
		font-size: var(--text-lg);
		text-align: center;

		&:focus {
			outline-offset: 1px;
		}

		@include utils.has-hover {
			cursor: pointer;
		}
	}
}
