@use '../../styles/utils';

.app {
	display: grid;
	height: 100vh;
}

.wrapper {
	@include utils.max-width;
	display: grid;
	grid-template-columns: 1fr;
	gap: var(--space-lg);

	@media screen and (min-width: 1023px) {
		grid-template-columns: 1fr 2fr;
	}
}

.leftSide {
	--flow-space: var(--space-md);

	display: grid;
	place-content: center;
	text-align: left; // left only for dyslexia?

	* + * {
		margin-top: var(--flow-space);
	}

	h1 {
		font-size: var(--text-3xl);

		span {
			display: inline-block;
			transform: skewY(-3deg);
		}
	}
}
.rightSide {
	display: grid;
	align-content: center;
	margin: var(--space-3xl) 0 calc(var(--space-3xl) * 2);
}

// ===============================
// Accessibility Controls
// ===============================

.controls {
	display: grid;
	grid-template-columns: auto auto;
	align-items: center;
	justify-content: center;
	gap: var(--space-base);
	margin-bottom: var(--space-base);

	@media screen and (max-width: 499px) {
		justify-content: space-between;
		margin-top: var(--space-xl);
	}
}

.iconSelect {
	--select-label-color-text: var(--theme-color-body-text);
	--select-divider: var(--theme-color-accent-soft);

	display: flex;
	align-items: center;
	color: var(--select-label-color-text);
	padding-left: var(--space-base);
	position: relative;

	&::after {
		content: '\25BC';
		position: absolute;
		right: var(--space-xs);
		transform: translateY(1px);
		pointer-events: none;
		font-size: 0.5em;
	}

	@media screen and (min-width: 500px) {
		border-left: solid 2px var(--select-divider);
	}

	label {
		padding-right: var(--space-xs);
	}

	select {
		-webkit-appearance: none;
		appearance: none;
		color: inherit;
		background-color: transparent;
		border: none;
		padding: var(--space-xs) var(--space-base) var(--space-xs) var(--space-xs);
		font-size: var(--text-lg);
		text-align: center;

		&:focus {
			outline-offset: 1px;
		}

		@include utils.has-hover {
			cursor: pointer;
		}
	}
}
